<header class="px-2 py-4 mt-16 my-50 flex flex-col justify-center items-center text-center">
    <img class="inline-flex object-cover border-4 border-[#c10007] rounded-full shadow-[5px_5px_0_0_rgba(0,0,0,1)] shadow-[#c10007]/100 bg-[#c10007]/10 text-[#c10007] h-24 w-24 !h-48 !w-48" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
    <h1 class="text-2xl text-gray-500 font-bold mt-2">
      {{nom}} 
    </h1>
    <h2 class="text-base md:text-xl text-gray-500 font-bold">
     {{email}}
    </h2>
    <ul class="flex flex-row mt-2">
    
    </ul>
  </header>
