<header class="w-full bg-white shadow-md">
  <div class="max-w-7xl mx-auto flex items-center justify-between p-4">
    
    <div class="flex items-center">
      <img 
        src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" 
        alt="Angular Logo" 
        class="w-14 h-14"
      >
    </div>

    <nav *ngIf="isConnected">
      <ul class="flex space-x-8">
        <li>
          <a [routerLink]="['/articles']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Articles
          </a>
        </li>
        <li>
          <a [routerLink]="['/categories']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Catégories
          </a>
        </li>
        <li>
          <a (click)="deconnexion()" class="cursor-pointer text-gray-700 hover:text-red-500 transition font-medium">
            Déconnexion
          </a>
        </li>
        <li>
          <button class="text-gray-700 hover:text-red-500 transition font-medium">{{name}}</button>
        </li>
      </ul>
    </nav>
    <nav *ngIf="!isConnected">
      <ul class="flex space-x-8">
        <li>
          <a [routerLink]="['/register']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Register
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>