<header class="w-full bg-white shadow-md">
  <div class="max-w-7xl mx-auto flex items-center justify-between p-4">
    
    <div class="flex items-center">
      <img 
        src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" 
        alt="Angular Logo" 
        class="w-14 h-14"
      >
    </div>

    <nav *ngIf="isConnected">
      <ul class="flex space-x-8">
        <li>
          <a [routerLink]="['']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/articles']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Articles
          </a>
        </li>
        <li>
          <a [routerLink]="['/categories']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Catégories
          </a>
        </li>
        <li>
          <a [routerLink]="['/tags']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Tags
          </a>
        </li>
        <li>
          <a (click)="deconnexion()" class="text-white bg-blue-700  focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-red-600 focus:outline-none dark:focus:ring-blue-800">
            Déconnexion
          </a>
        </li>
        <li>
          <button class="text-gray-700 hover:text-red-500 transition font-medium">{{name}}</button>
        </li>
      </ul>
    </nav>
    <nav *ngIf="!isConnected">
      <ul class="flex space-x-8">
        <li>
          <a [routerLink]="['']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/articles']" class="text-gray-700 hover:text-red-500 transition font-medium">
            Articles
          </a>
        </li>
        <li>
          <a [routerLink]="['/login']" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Login
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']" class="text-white bg-blue-700  focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-red-600 focus:outline-none dark:focus:ring-blue-800">
            Register
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>