<article>
  <div
    class="max-w-sm bg-white border border-gray-200 rounded-2xl shadow-md overflow-hidden"
  >
    <a [routerLink]="['/article', article.id]">
      <img
        class="rounded-t-2xl w-full h-48 object-cover"
        [src]="article.photo"
        [alt]="article.title"
      />
    </a>

    <div class="p-5">
      <!-- TITRE -->
      <h5 class="mb-2 text-xl font-bold text-gray-900 break-words">
        {{ article.title }}
      </h5>

      <!-- CATEGORIES -->
      <div class="mb-2">
        <div class="flex flex-wrap gap-2">
          <span
            *ngFor="let category of article.category"
            class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-1 rounded-full"
          >
            {{ category.name }}
          </span>
        </div>
      </div>

      <!-- TAGS -->
      <div class="mb-4">
        <div class="flex flex-wrap gap-2">
          <span
            *ngFor="let tag of article.tags"
            class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-1 rounded-full"
          >
            {{ tag.name }}
          </span>
        </div>
      </div>

      <!-- CONTENU -->
      <p class="mb-4 text-sm text-gray-700 line-clamp-3 break-words">
        {{ article.content }}
      </p>

      <!-- AUTEUR + DATE -->
      <div class="flex items-center space-x-2 text-sm text-gray-500 mb-4">
        <img
          [src]="'https://ui-avatars.com/api/?name=' + article.auteur.name"
          class="w-6 h-6 rounded-full"
        />
        <span>{{ article.auteur.name }}</span>
        <span>•</span>
        <span>{{ article.date_creation }}</span>
      </div>

      <!-- VUES & COMMENTAIRES -->
      <div class="flex justify-between text-xs text-gray-500 mb-4">
        <p>{{ article.nbr_vue }} vue(s)</p>
        <p>{{ article.nbr_comment }} commentaire(s)</p>
      </div>


  
      <!--  si l'utilisateur est connecté et n’est pas l’auteur de l’article-->
      <div
        *ngIf="isConnected && !isAuthor"
        class="flex flex-wrap items-center gap-2"
      >

        <button
          (click)="onLike()"
          type="button"
          class="bg-red-600 text-white px-4 py-2 rounded-lg text-sm font-medium transition hover:bg-red-700"
        >
          ❤️ J'aime ({{ article.nb_likes }})
        </button>
        <a
          [routerLink]="['/article', article.id]"
          class="px-4 py-2 bg-blue-700 text-white text-sm font-medium rounded-lg hover:bg-blue-800 transition inline-flex items-center"
        >
          Voir plus
          <svg
            class="w-4 h-4 ml-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
      <!-- ============================================== -->

      <!-- si l'utilisateur est connecté et est l’auteur de l’article -->
      <div
        *ngIf="isConnected && isAuthor"
        class="flex flex-wrap items-center gap-2"
      >
        <button
          (click)="onLike()"
          type="button"
          class="bg-red-600 text-white px-4 py-2 rounded-lg text-sm font-medium transition hover:bg-red-700"
        >
          ❤️ J'aime ({{ article.nb_likes }})
        </button>

        <a
          [routerLink]="['/edit', article.id]"
          class="px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-lg hover:bg-green-700 transition"
        >
          ✏️ Modifier
        </a>

        <a
          [routerLink]="['/article', article.id]"
          class="px-4 py-2 bg-blue-700 text-white text-sm font-medium rounded-lg hover:bg-blue-800 transition inline-flex items-center"
        >
          Voir plus
          <svg
            class="w-4 h-4 ml-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
      <!-- ============================================== -->

      <!-- si l'utilisateur n’est pas connecté -->
      <div *ngIf="!isConnected" class="flex flex-wrap items-center gap-2">
        <button
          (click)="onLike()"
          type="button"
          class="bg-red-600 text-white px-4 py-2 rounded-lg text-sm font-medium transition hover:bg-red-700"
        >
          ❤️ J'aime ({{ article.nb_likes }})
        </button>

        <a
          [routerLink]="['/article', article.id]"
          class="px-4 py-2 bg-blue-700 text-white text-sm font-medium rounded-lg hover:bg-blue-800 transition inline-flex items-center"
        >
          Voir plus
          <svg
            class="w-4 h-4 ml-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
      <!-- ============================================== -->
    </div>
  </div>
</article>