<article class="bg-white shadow-md rounded-xl p-4 md:p-6 flex flex-col space-y-4 border-b border-gray-300 last:border-none">
    <div class="flex flex-col md:flex-row items-center gap-4">
      <!-- Image -->
      <div class="w-full md:w-1/4">
        <img [src]="article.photo" alt="Image de l'article" class="w-full h-32 object-cover rounded-lg shadow-sm">
      </div>
  
      <!-- Contenu -->
      <div class="flex-1">
        <h3 class="text-xl font-semibold text-gray-900">{{ article.title }}</h3>
  
        <!-- Catégories -->
        <div class="mt-2 flex flex-wrap gap-2">
          <span *ngFor="let category of article.category" class="bg-red-100 text-red-700 text-xs font-semibold px-2.5 py-1 rounded-full">
            {{ category.name }}
          </span>
        </div>
  
        <p class="text-sm text-gray-600 mt-2">Slug: {{ article.slug }}</p>
        <p class="text-sm text-gray-700 mt-1">
          <i>Publié par <b>{{ article.auteur }}</b> {{ article.date_creation }}</i>
        </p>
      </div>
    </div>
  
    <!-- Footer -->
    <div class="flex justify-between items-center border-t pt-4">
      <p class="text-gray-500 text-sm">{{ article.nbr_comment }} commentaires</p>
  
      <a [routerLink]="['/article', article.id]" 
         class="bg-red-600 text-white px-4 py-2 rounded-lg text-sm font-medium transition-all duration-300 hover:bg-red-700">
        Voir plus
      </a>
    </div>
  </article>
  <br>
  <br>